<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>좋은 부모가 되기 위한 API - Be A Good Parents</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link href="static/css/modern-business.css" rel="stylesheet">
    <style>
        .text-stroke {
            color: white;
            text-shadow: -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
        }
    </style>
</head>

<body>
<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">Be a good parents</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">API Document</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">유치원 API 상세정보</h1>

    <div class="row">
        <div class="col-lg-12 my-4">
            <ht>URL : http://127.0.0.1:5000/children/{cityCode}/{pageNum}</ht>
            <h4>요청 형식</h4>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">항목명</th>
                    <th scope="col">항목구분</th>
                    <th scope="col">항목설명</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>cityCode</td>
                    <td>필수</td>
                    <td>도시 코드</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>pageNum</td>
                    <td>선택</td>
                    <td>페이지 번호</td>
                </tr>
                </tbody>
            </table>
            <h4>응답 형식</h4>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">항목명</th>
                    <th scope="col">항목구분</th>
                    <th scope="col">항목설명</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>title</td>
                    <td>필수</td>
                    <td>유치원 이름</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>overview</td>
                    <td>필수</td>
                    <td>유치원 주소</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>telNo</td>
                    <td>필수</td>
                    <td>연락처</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>hpAddr</td>
                    <td>선택</td>
                    <td>홈페이지 주소</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>childNo</td>
                    <td>필수</td>
                    <td>총 유아 수</td>
                </tr>
                </tbody>
            </table>
            <form role="form">
                <div class="form-group">
                    <label for="festival_input">도시 코드</label>
                    <input type="number" id="children_input1" class="form-control">
                    <small class="form-text form-muted">도시코드를 입력해주세요.</small>
                </div>
                <div class="form-group">
                    <label for="festival_input">페이지 번호</label>
                    <input type="number" id="children_input2" class="form-control">
                    <small class="form-text form-muted">(선택)페이지 번호를 입력해주세요.</small>
                </div>
                <div class="form-group">
                    <textarea id="children_output" class="form-control" rows="10" readonly="true"></textarea>
                    <button class="btn btn-primary btn-block" type="button" onclick="getChildrenInfo()">API 모의 요청 및 결과
                        확인
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
    function getChildrenInfo() {
        childrenCityCode = document.getElementById('children_input1').value
        childrenPageNum = document.getElementById('children_input2').value

        var url = 'http://127.0.0.1:5000/children/' + String(childrenCityCode)
        if (childrenPageNum!= ""){
            url = url + '/' + String(childrenPageNum)
        }

        console.log(url)
        fetch(url)
            .then(response => response.text())
            .then((data) => {
                document.getElementById('children_output').value = data
                console.log(data)
            })
    }
</script>
</body>

</html>