<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>좋은 부모가 되기 위한 API - Be A Good Parents</title>

   <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css">

  <!-- Custom styles for this template -->
  <link href="static/css/modern-business.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Be a good parents</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other Pages
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
              <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">유치원
      <small>Subheading</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">유치원</li>
    </ol>

    <!-- Project One -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_0"></h3>
        <p id="overview_0"></p><p id="childNo_0"></p><p class="text-primary" id="telNo_0"></p>
        <a href="#" id="hpAddr_0">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_1"></h3>
        <p id="overview_1"></p><p id="childNo_1"></p><p class="text-primary" id="telNo_1"></p>
        <a href="#" id="hpAddr_1">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_2"></h3>
        <p id="overview_2"></p><p id="childNo_2"></p><p class="text-primary" id="telNo_2"></p>
        <a href="#" id="hpAddr_2">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_3"></h3>
        <p id="overview_3"></p><p id="childNo_3"></p><p class="text-primary" id="telNo_3"></p>
        <a href="#" id="hpAddr_3">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

<!-- Project Five -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_4"></h3>
        <p id="overview_4"></p><p id="childNo_4"></p><p class="text-primary" id="telNo_4"></p>
        <a href="#" id="hpAddr_4">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Six -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_5"></h3>
        <p id="overview_5"></p><p id="childNo_5"></p><p class="text-primary" id="telNo_5"></p>
        <a href="#" id="hpAddr_5">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Seven -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_6"></h3>
        <p id="overview_6"></p><p id="childNo_6"></p><p class="text-primary" id="telNo_6"></p>
        <a href="#" id="hpAddr_6">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Eight -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_7"></h3>
        <p id="overview_7"></p><p id="childNo_7"></p><p class="text-primary" id="telNo_7"></p>
        <a href="#" id="hpAddr_7">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Nine -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_8"></h3>
        <p id="overview_8"></p><p id="childNo_8"></p><p class="text-primary" id="telNo_8"></p>
        <a href="#" id="hpAddr_8">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Ten -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_9"></h3>
        <p id="overview_9"></p><p id="childNo_9"></p><p class="text-primary" id="telNo_9"></p>
        <a href="#" id="hpAddr_9">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

      <!-- Project Eleven -->
    <div class="row">
      <div class="col-md-5">
        <h3 id="title_10"></h3>
        <p id="overview_10"></p><p id="childNo_10"></p><p class="text-primary" id="telNo_10"></p>
        <a href="#" id="hpAddr_10">site
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(1)">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(2)">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(4)">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(5)">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">6</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">7</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">8</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">9</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">10</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" onclick="getChildrenInfo(3)">11</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    function getChildrenInfo(pageNum) {
        var url = 'http://127.0.0.1:5000/children/11/' + String(pageNum)

        fetch(url)
            .then(response => response.json())
            .then((data) => {
                for (var i = 0; i < 11; i++) {
                    var titleId = 'title_' + String(i)
                    var overviewId = 'overview_' + String(i)
                    var telId = 'telNo_' + String(i)
                    var childId = 'childNo_' + String(i)
                    var hpId = 'hpAddr_' + String(i)

                    document.getElementById(titleId).innerHTML = data.body[i].title
                    document.getElementById(overviewId).innerHTML = data.body[i].overview
                    document.getElementById(telId).innerHTML = data.body[i].telNo
                    document.getElementById(childId).innerHTML = '총 유아수: ' + data.body[i].childNo
                    if(data.body[i].hpAddr!=null) {
                        document.getElementById(hpId).innerHTML = '<a class="btn btn-primary" href=" ' + data.body[i].hpAddr + ' " >site\n' +
                        '          <span class="glyphicon glyphicon-chevron-right"></span>\n' +
                        '        </a>'
                    }
                    else {
                        document.getElementById(hpId).innerHTML = '<a class="btn btn-primary" href="http://www.naver.com" >site\n' +
                        '          <span class="glyphicon glyphicon-chevron-right"></span>\n' +
                        '        </a>'
                    }


                }
            })
            .catch((error) => console.log(this.props.url, status, err.toString()))
    }

    getChildrenInfo(1);

</script>

</body>

</html>
